run = "php -S 0.0.0.0:8000 -t ."
modules = ["nodejs-20", "php-8.2", "web", "nix"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "php -S 0.0.0.0:8000 -t ."]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 80

[workflows]
runButton = "Run PHP Server"

[[workflows.workflow]]
name = "Run PHP Server"
author = 25726037
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:8000 -t ."

[[workflows.workflow]]
name = "Run Web Server"
author = 45765530
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:8000 -t ."
